* {
  margin: 0;
  padding: 0;
  color: whitesmoke;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
line-height:1;
}

body {
  

  background-color: rgb(77, 77, 77);
  color: rgb(43, 46, 46);
}

nav div {
  
  display: flex;
  height: 65px;
  background-color: rgb(63, 63, 63);
  align-items: center;
  justify-content: space-evenly
}
.navi{
  padding: 0 10px;
}
.leftNav {
  
  font-weight: bolder;
    font-size: 1.4pc;
}
.rightNav{
  align-items: center;
}

.navigators {
  display: flex;
}

.lists {
  padding: 0 5px;
  list-style-type: none;
}

nav li a {
  text-decoration: none;
}

nav li:hover {
  scale: 1.1;
  color: grey;
}

.profile {
  
  margin: 10px 0;
  display: flex;
  justify-content: space-evenly;
}
.imgdiv {
  
}
.image {

  margin: 5px 10px;
  
  border: 4px rgb(124, 124, 124) solid;
 
  border-radius: 100px;

}
.rightProfile{
  
}

.rightProfile p{
  margin: 5px 10px;
  padding:0 5px;

  }

.name{
  font-size: 60px;
  color: white;
}

.skills{
  font-size: 20%;
  color:rgb(140, 141, 141);
}
@keyframes name {
  10% {
    color: rgb(255, 255, 255);
  }

  30% {
    color: #a871ff;

  }

  50% {
    color: rgb(127, 255, 115);

  }

  70% {
    color: rgb(255, 142, 208);

  }

  90% {
    color: rgba(113, 192, 216, 0.986);

  }

  100% {
    color: rgb(106, 226, 0);

  }
}