.navList
{
  float: left;
  padding-right:7px;
}
#NavMain
{
  background-color:rgba(0,0,0,0.1);
  overflow:hidden;
  list-style-type:none;
  margin-top:1pc;
  padding-top:3px;
  padding-bottom: 3px;
  border-bottom: 2px dashed rgba(100,100,100,5);
  border-top: 2px dashed rgba(100,100,100,5);
  border-radius:3px;
}
.navList a,.navList button
{
  
  font-weight: bold;
  text-decoration:none;
  display:block;
  color:black;
  background-color:rgba(50,50,50,0.2);
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  border-bottom:2px solid #230;
  border-top: 0.8px solid  rgba(50,50,50,0.2);
  border-radius:6px;
  padding-top: 7px;
  padding-left:7px;
  padding-right:7px;
  padding-bottom:7px;
}
