@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;900&display=swap');

*{
 padding: 0;
 margin: 0;
 line-height: 1.5;
 font-family: 'Poppins', sans-serif;
 text-align: center;
}

body {
 background-color: white;
 background-image: url("static/back.jpg");
 height: 100vh;
 background-position: center;
 background-size: cover;
 background-repeat: no-repeat;
}

#heading {
 color: orangered;
 text-align: center;
 border: 2px rgba(0, 0, 0, 0.5) solid;
 background-color: rgba(0, 0, 0, 0.2);
 padding: 0px 10px;
 margin-top: 5px;
}

#akat {
 
 color: #FFFFFF;
}

#title {
 font-size:25px;
 
 color: white;
 animation-name: title;
 animation-duration: 5s;
 animation-direction: reverse;
 animation-iteration-count: infinite;
 
}

#image {
 width: 35%;
 height: 35%;
 overflow: hidden;
 border: 3px black solid;
 border-radius: 25px;
 padding: 0 5px auto 5px;
 opacity: 0;
}

h3 {
 color:#FFFFFF;
 font-size: 20px;
}

#ab {
 padding: 0 10px 0 10px;
 text-align: center;
 color:white;
 border: 1px solid rgba(200, 50, 50, 0.2);
}

@keyframes title {
 0% {
  color:black;
 }
 30%{
  color:#F4F5FF;
 }
 50% {
  color: #32FF00;
 }
 70%{
  color: #00FFF9;
 }
 100% {
  color:#FFFE00;
 }
}